body { 
  font-family: Arial;
  width: 800px;
  margin: 0 auto;
  background-color: #B3E5FC;
}

.center {
  margin: 0 auto;
  display: block;
}

.center-text {
  text-align: center;
}

.blue-background { background-color: #B3E5FC; } 
.yellow-background { background-color: #FFF176; } 
.green-background { background-color: #26A69A; }
.grey-background { background-color: #D6D6D6; }
.blue-border{
  border: 3px solid #B3E5FC;
}
.yellow-border { 
  border: 3px solid #FFF176; 
} 
.green-border { 
  border: 3px solid #009688; 
}
.grey-border { 
  border: 3px solid #D6D6D6;
}

.header img.logo {
  float: right;
  margin-top: 15px;
}

img.logo {
  display: block;
}

.logo-text {
  font-weight: lighter;
}

.page-break-mini {
  margin-top: 20px;
}

.pointer-up {
  width: 40px;
  height: 20px;
  border: none;
  padding: 0px;
}

.pointer-up-left {
  display: inline-block;
  height: 20px;
  transform: skewY(-45deg);
  position: relative;
  top: 17px;
}

.pointer-up-right {
  display: inline-block;
  height: 20px;
  transform: skewY(45deg);
  position: relative;
  top: 17px;
}

.drawer {
  position: relative;
  padding: 10px;
  border: 3px solid #D6D6D6;
}

.drawer .img-ctrl.active {
  border: 3px solid #FFF176;
}

.drawer .img-ctrl:not(.active) {
  border: 3px solid #D6D6D6;  /* Grey border */
}

.drawer .img-ctrl:hover {
  border: 3px solid #EA80FC;
  cursor: pointer;
}

.hover-yellow-border:hover {
  border-color: #FFF176;
  cursor: pointer;
}
