body { 
  font-family: Arial;
  width: 800px;
  margin: 0 auto;
  background-color: #B3E5FC;
}

.center {
  margin: 0 auto;
  display: block;
}

.center-text {
  text-align: center;
}

.blue-background { background-color: #B3E5FC; } 
.yellow-background { background-color: #FFF176; } 
.green-background { background-color: #009688; }
.grey-background { background-color: #D6D6D6; }
.blue-border{
  border: 3px solid #B3E5FC;
}
.yellow-border { 
  border: 3px solid #FFF176; 
} 
.green-border { 
  border: 3px solid #009688; 
}
.grey-border { 
  border: 4px solid #D6D6D6; 
}

.header img.logo {
  float: right;
  margin-top: 15px;
}

img.logo {
  display: block;
}

.logo-text {
  font-weight: lighter;
}

.page-break-mini {
  margin-top: 20px;
}

.pointer-up {
  width: 40px;
  height: 20px;
  border: none;
  padding: 0px;
}

.pointer-up-left {
  float: left;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: skewY(-45deg);
  position: relative;
  top: 10px;
}

.pointer-up-right {
  float: right;
  display: inline-block;
  height: 20px;
  width: 20px;
  transform: skewY(45deg);
  position: relative;
  top: 10px;
}

.drawer {
  position: relative;
  padding: 10px;
}

.drawer .img-ctrl.active img {
  border: 4px solid #FFF176;
}

.drawer .img-ctrl:not(.active) img {
  border: 4px solid #D6D6D6;  /* Grey border */
}

.drawer .img-ctrl img:hover {
  border: 4px solid #EA80FC;
}

@media screen and (min-width: 64em) {
  .drawer {
    width: 280px;
    left: -70px;
  }
  
  /* Disable the border specified for smaller screens */
  .drawer .img-ctrl img:hover {
    border: none;
  }

  .drawer .img-ctrl.active img {
    border: none;
  }

  .drawer .img-ctrl:not(.active) img {
    border: none;
  }
  /* End disablers */

  .drawer .img-ctrl.active {
    border: 4px solid #FFF176;
  }

  .drawer .img-ctrl:not(.active) {
    border: 4px solid #D6D6D6; /* Grey border */
  }

  .drawer .img-ctrl:hover {
    border: 4px solid #EA80FC;
  }
}

.hover-yellow-border:hover {
  border-color: #FFF176;
  cursor: pointer;
}
