<html>
<head>

  <title>beautiful mimic</title>
  <!-- Favicons -->
  <!-- Generated at http://www.favicon-generator.org -->
  <link rel='apple-touch-icon' sizes='57x57' href='../assets/images/favicons/apple-icon-57x57.png'>
  <link rel='apple-touch-icon' sizes='60x60' href='../assets/images/favicons/apple-icon-60x60.png'>
  <link rel='apple-touch-icon' sizes='72x72' href='../assets/images/favicons/apple-icon-72x72.png'>
  <link rel='apple-touch-icon' sizes='76x76' href='../assets/images/favicons/apple-icon-76x76.png'>
  <link rel='apple-touch-icon' sizes='114x114' href='../assets/images/favicons/apple-icon-114x114.png'>
  <link rel='apple-touch-icon' sizes='120x120' href='../assets/images/favicons/apple-icon-120x120.png'>
  <link rel='apple-touch-icon' sizes='144x144' href='../assets/images/favicons/apple-icon-144x144.png'>
  <link rel='apple-touch-icon' sizes='152x152' href='../assets/images/favicons/apple-icon-152x152.png'>
  <link rel='apple-touch-icon' sizes='180x180' href='../assets/images/favicons/apple-icon-180x180.png'>
  <link rel='icon' type='image/png' sizes='192x192' href='../assets/images/favicons/android-icon-192x192.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='../assets/images/favicons/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='96x96' href='../assets/images/favicons/favicon-96x96.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='../assets/images/favicons/favicon-16x16.png'>
  <link rel='manifest' href='../assets/images/favicons/manifest.json'>
  <meta name='msapplication-TileColor' content='#ffffff'>
  <meta name='msapplication-TileImage' content='../assets/images/favicons/ms-icon-144x144.png'>
  <meta name='theme-color' content='#ffffff'>
  <!-- End Favicons -->

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='/stylesheets/pure.min.css'>
  <link rel='stylesheet' href='/stylesheets/grids-responseive.min.css'>
  <link rel='stylesheet' href='/style'>
  <script src='/javascripts/react-0.14.7.min.js'></script>
  <script src='/javascripts/react-dom-0.14.7.min.js'></script>
  <script src='/javascripts/babel-5.8.23.min.js'></script>
</head>
<body>
  <!-- Header -->
  <div class='header center'>
    <div class='pure-g'>
      <div class='pure-u-1-8'>
        <img class='logo' src='/images/logo-yellow.png'>
      </div>
      <div class='pure-u-1-5'>
        <h1>
          <div class='pure-g'>
            <div class='pure-u-1 center-text logo-text'>beautiful</div>
            <div class='pure-u-1 center-text logo-text'>mimic</div>
          </div>
        </h1>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class='pure-g'>

    <div class='pure-u-1 pure-u-lg-1-3'>
      <h1 class='center-text'>Photo</h1>
      <img class='pure-img center grey-border hover-yellow-border js-chosen' src='../assets/images/marilyn-monroe.jpg'>
      <div class='image-drawer hidden js-image-drawer'>
        <div class='center pointer-up'>
          <div class='green-background pointer-up-left'></div>
          <div class='green-background pointer-up-right'></div>
        </div>
        <div class='drawer green-background center'>
          <div class='pure-g'>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl active'>
                <img class='pure-img center' src='../assets/images/marilyn-monroe.jpg'>
              </div>
            </div>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl'>
                <img class='pure-img center grey-border' src='../assets/images/frank-sinatra.jpg'>
              </div>
            </div>
            <h3 class='pure-u-1 center-text'>
              <a href='http://app.beautifulmimic.com' class='pure-button pure-button-active'><i class='fa fa-upload'> Upload your own!</i></a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class='pure-u-1 pure-u-lg-1-3'>
      <h1 class='center-text'>+</h1>
    </div>
    <div class='pure-u-1 pure-u-lg-1-3'>
      <h1 class='center-text'>Style</h1>
      <img class='pure-img center grey-border hover-yellow-border js-chosen' src='../assets/images/creation-of-adam.jpg'>
      <div class='image-drawer hidden js-image-drawer'>
        <div class='center pointer-up'>
          <div class='green-background pointer-up-left'></div>
          <div class='green-background pointer-up-right'></div>
        </div>
        <div class='drawer green-background center'>
          <div class='pure-g'>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl active'>
                <img class='pure-img center' src='../assets/images/creation-of-adam.jpg'>
              </div>
            </div>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl'>
                <img class='pure-img center' src='../assets/images/starry-night.jpg'>
              </div>
            </div>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl'>
                <img class='pure-img center' src='../assets/images/bottle-of-anis.jpg'>
              </div>
            </div>
            <div class='pure-u-1-2'>
              <div class='center img-ctrl'>
                <img class='pure-img center' src='../assets/images/great-wave.jpg'>
              </div>
            </div>
            <div class='pure-u-1'>
              <h3 class='center-text'>
                <a href='http://app.beautifulmimic.com' class='pure-button pure-button-active'><i class='fa fa-upload'> Upload your own!</i></a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='content'></div>

  <script type='text/babel'>
    var ChosenImage = React.createClass({
      render: function(){
        return (<img src={'/uploads/' + this.props.file_hash}></img>)
      }
    });
    var ImageDrawer;
    var UploadedImage;
    var Uploader;

    var NewMimic = React.createClass({
      render: function() {
        return (
          <div className='pure-g'>
            <div className='pure-u-1 pure-u-lg-1-3'>
              <h1>Photo</h1> 
              <ChosenImage file_hash='32a9dc2a78d2c4fa02dfbd914c7270374f77a11a9e2b2c3d8341c65ddfdb7113'/>
            </div>
            <div className='pure-u-1 pure-u-lg-1-3'>
              <h1>+</h1>
            </div>
            <div className='pure-u-1 pure-u-lg-1-3'>
              <h1>Style</h1> 
              <ChosenImage file_hash='bbff349895c2b01474365f28754ac9a3ae42fb4fe5f56782c801faf398ed4a2f'/>
            </div>
          </div>
        );
      }
    });

    ReactDOM.render(
      <NewMimic />, document.getElementById('content')
    );

  </script>
</body>
</html>
