<div class='text'>
  <p>Making your Beautiful Mimic can take a couple minutes</p>
  <p>Try this game or make a <a href='/mimics/new'>new one</a></p>
</div>
<div id='boardDiv'></div>
<script>
  ReactDOM.render(React.createElement(BoardView, null), document.getElementById('boardDiv'));
</script>
